{% extends 'base.html.twig' %}

{% block title %}Pruebas en extranet{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Pruebas en extranet</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de pruebas</h3>
                </div>
                <div class="panel-body">
                    <div class="">
                        <a href="{{ path('pruebas_extranet_grupo') }}" class="btn btn-primary btn-xs">Crear nuevo grupo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
