{% extends 'base.html.twig' %}

{% block title %}Edit GrupoKeycloak{% endblock %}

{% block body %}
    <h1>Edit GrupoKeycloak</h1>

    {{ include('grupo_keycloak/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('grupo_keycloak_index') }}">back to list</a>

    {{ include('grupo_keycloak/_delete_form.html.twig') }}
{% endblock %}
