{% extends 'base.html.twig' %}

{% block title %}New Realm{% endblock %}

{% block body %}
    <h1>Create new Realm</h1>

    {{ include('realm/_form.html.twig') }}

    <a href="{{ path('realm_index') }}">back to list</a>
{% endblock %}
