<form method="post" action="{{ path('rol_keycloak_delete', {'id': rol_keycloak.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rol_keycloak.id) }}">
    <button class="btn">Delete</button>
</form>
