{% extends 'base.html.twig' %}

{% block title %}New RolKeycloak{% endblock %}

{% block body %}
    <h1>Create new RolKeycloak</h1>

    {{ include('rol_keycloak/_form.html.twig') }}

    <a href="{{ path('rol_keycloak_index') }}">back to list</a>
{% endblock %}
