{% extends 'base.html.twig' %}

{% block title %}Error de cuenta{% endblock %}

{% block body %}
 {#    <h1 class="text-center">Error de cuenta</h1> #}
    <div class="row justify-content-md-center">
     <p>Ocurrió un error con su cuenta. Por favor, contacte con un administrador de Sedronar para obtener mas ayuda.</p>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <a href="{{path('oauth_login')}}" class="btn  btn-primary">Volver a iniciar sesión</a>
    </div>
    <br>
    <br>
    <br>
{% endblock %}