{% set showMessages = false  %}
{% set msgSuccess = app.flashes('success')   %}
{% set msgWarning = app.flashes('warning')   %}
{% set msgDanger = app.flashes('danger')   %}
{% set msgInfo = app.flashes('info')   %}

{% if msgSuccess|length>0 %}{% set showMessages = true  %}{% endif %}
{% if msgWarning|length>0 %}{% set showMessages = true  %}{% endif %}
{% if msgDanger|length>0 %}{% set showMessages = true  %}{% endif %}
{% if msgInfo|length>0 %}{% set showMessages = true  %}{% endif %}
     
{% if showMessages %}
  <div class="clearfix"></div>
  <div class="row">
    {% if msgSuccess|length>0 %}
        <div class="alert alert-success" role="alert">{% for message in msgSuccess %}- {{ message }}<br>{% endfor %}</div>
    {% endif  %}

    {% if msgWarning|length>0 %}
        <div class="alert alert-warning" role="alert">{% for message in msgWarning %}- {{ message }}<br>{% endfor %}</div>
    {% endif  %}

    {% if msgDanger|length>0 %}
        <div class="alert alert-danger" role="alert">{% for message in msgDanger %}- {{ message }}<br>{% endfor %}</div>
    {% endif  %}

    {% if msgInfo|length>0 %}
        <div class="alert alert-info" role="alert">{% for message in msgInfo %}- {{ message }}<br>{% endfor %}</div>
    {% endif  %}
  </div>
  <div class="clearfix"></div>
{% endif  %}