<footer class="bd-footer bgsedronar">
    <div class="container">
        <div class="row">
            <div class="col-md-4 contacto">
            <h3 class="titulo">Contacto</h3>
            <h4 class="subtitulo">Sedronar</h4>
            <h6><a href="https://www.sedronar.gov.ar" target="_blank">https://www.sedronar.gov.ar</a></h6>
            <h6><a href="tel: +54 (011) 4320-1200" target="_blank"> +54 (011) 4320-1200</a></h6>
            <h6><a href="mailto:info@sedronar.gov.ar" target="_blank">info@sedronar.gov.ar</a></h6>
            </div>

            <div class="col-md social footerbgsedronar">
            </div>

            <div class="col-12 mt-5">
                <a href="#" class="footer-subir" title="Volver arriba"><img src="/img/arriba.png" alt="Volver arriba"></a>
            </div>
        </div>
    </div>
</footer>
