{% extends 'base.html.twig' %}

{% block title %}DashBoard{% endblock %}

{% block body %}
    <h1 class="text-center">Dashboard</h1>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="text-center">
                <div class="center-block">
                    <a href="{{ path('nueva-solicitud') }}" class="btn btn-success btn-lg">Nueva solicitud</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
                <div class="center-block">
                    <a href="asddd" class="btn btn-success btn-lg">Otro bot칩n que no hace nada</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <p>Ya le vamos a meter onda a este dashboard... quiz치 bajando una plantilla html free</p>
        <br>
    </div>
    <div class="row">
        <a href="#" class="btn btn-lg btn-primary">Bot칩n que har치 algo en el futuro</a>
    </div>
    <br>
    <br>
    <br>
{% endblock %}