{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <div class="center-block">
            <button class="btn btn-primary">{{ button_label|default('Enviar') }}</button>
        </div>
    </div>
{{ form_end(form) }}
